html { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; font-size: 16px; }

html a { text-decoration: none; color: #181828; cursor: pointer; font-weight: bolder; }

html a:hover { color: #FFCC00; }

html a .link-active { color: #FFCC00; }

main.home-content-wrap { margin-top: 120px; }

main.home-content-wrap .home-section { width: 100%; box-sizing: border-box; }

main.home-content-wrap .home-section .section-content { margin: auto; }

main.home-content-wrap section.home-section:first-child .section-content { width: 100%; height: 600px; }

main.home-content-wrap section.home-section:first-child .section-content .slider { position: relative; width: 100%; height: 100%; }

main.home-content-wrap section.home-section:first-child .section-content .slider .slider-item { width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; color: black; position: absolute; top: 0; z-index: 0; opacity: 0; transition: opacity .8s ease-in-out; }

main.home-content-wrap section.home-section:first-child .section-content .slider .slider-item img { width: 100%; }

main.home-content-wrap section.home-section:first-child .section-content .slider .slider-item:first-child { background-image: url("../img/home_swiper_img1.jpg"); }

main.home-content-wrap section.home-section:first-child .section-content .slider .slider-item:nth-child(2) { background-image: url("../img/home_swiper_img2.jpg"); }

main.home-content-wrap section.home-section:first-child .section-content .slider .showing { z-index: 1; opacity: 1; transform: none; }

main.home-content-wrap section.home-section:first-child .section-content .slider-arrow { width: 100vw; position: absolute; top: 50%; z-index: 99; display: flex; flex-direction: row; justify-content: space-between; }

main.home-content-wrap section.home-section:first-child .section-content .slider-arrow img { width: 50px; height: 50px; }

main.home-content-wrap section.home-section:first-child .section-content .swiper-text { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 99; }

main.home-content-wrap section.home-section:first-child .section-content .swiper-text .swiper-text-contents { display: flex; flex-direction: column; justify-content: center; align-items: center; }

main.home-content-wrap section.home-section:first-child .section-content .swiper-text .swiper-text-contents h1 { color: #FFCC00; }

main.home-content-wrap section.home-section:first-child .section-content .swiper-text .swiper-text-contents h2 span { background-color: #FFCC00; }

main.home-content-wrap section.home-section:first-child .section-content .swiper-text .swiper-text-contents p { color: white; }

main.home-content-wrap section.home-section:nth-child(2) { background-color: #27488b; }

main.home-content-wrap section.home-section:nth-child(2) .section-content { width: 1212px; height: 400px; margin: auto; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; }

main.home-content-wrap section.home-section:nth-child(2) .section-content img { box-sizing: border-box; }

main.home-content-wrap section.home-section:nth-child(2) .section-content h1 { color: #FFCC00; font-weight: bolder; letter-spacing: 0.2em; padding-bottom: 40px; }

main.home-content-wrap section.home-section:nth-child(2) .section-content p { color: white; line-height: 1.5em; }

main.home-content-wrap section.home-section:nth-child(3) { background-color: #181828; }

main.home-content-wrap section.home-section:nth-child(3) .home-img-grid { display: grid; grid-template-columns: repeat(3, 1fr); grid-template-rows: repeat(2, 1fr); gap: 0; }

main.home-content-wrap section.home-section:nth-child(3) .home-img-grid .home-img-grid-item { position: relative; }

main.home-content-wrap section.home-section:nth-child(3) .home-img-grid .home-img-grid-item img { width: 100%; object-fit: fill; }

main.home-content-wrap section.home-section:nth-child(3) .home-img-grid .home-img-grid-item span { position: absolute; top: 50%; left: 50%; z-index: 8; color: white; font-weight: border; font-size: 18px; }

main.home-content-wrap section.home-section:nth-child(3) .home-img-grid .home-img-grid-item:last-child { display: flex; justify-content: center; align-items: center; }

main.home-content-wrap section.home-section:nth-child(3) .home-img-grid .home-img-grid-item:last-child img { width: 160px; }

main.home-content-wrap section.home-section:nth-child(4) { background-color: #f7f7f7; }

main.home-content-wrap section.home-section:nth-child(4) .section-content { width: 1212px; height: 700px; margin: auto; display: flex; flex-direction: column; justify-content: center; align-items: center; }

main.home-content-wrap section.home-section:nth-child(4) .section-content .section-title-en { font-size: 40px; letter-spacing: 0.2em; padding-bottom: 20px; }

main.home-content-wrap section.home-section:nth-child(4) .section-content .section-desc p { line-height: 0.8em; text-align: center; }

main.home-content-wrap section.home-section:nth-child(4) .section-content .process-wrap { display: flex; }

main.home-content-wrap section.home-section:nth-child(4) .section-content .process-wrap article { width: 220px; height: 300px; padding: 0 10px; display: flex; flex-direction: column; justify-content: center; align-items: center; position: relative; }

main.home-content-wrap section.home-section:nth-child(4) .section-content .process-wrap article img { width: 80px; height: 40%; padding: 10px; }

main.home-content-wrap section.home-section:nth-child(4) .section-content .process-wrap article h1 { position: absolute; font-size: 20px; top: 100px; font-weight: border; }

main.home-content-wrap section.home-section:nth-child(4) .section-content .process-wrap article p { color: #5f727f; word-break: break-word; text-align: center; }

main.home-content-wrap section.home-section:nth-child(5) .section-content, main.home-content-wrap section.home-section:nth-child(6) .section-content, main.home-content-wrap section.home-section:nth-child(7) .section-content, main.home-content-wrap section.home-section:nth-child(8) .section-content { width: 800px; height: 800px; margin: auto; display: flex; flex-direction: column; justify-content: center; align-items: center; }

main.home-content-wrap section.home-section:nth-child(5) .section-content .title-wrap, main.home-content-wrap section.home-section:nth-child(6) .section-content .title-wrap, main.home-content-wrap section.home-section:nth-child(7) .section-content .title-wrap, main.home-content-wrap section.home-section:nth-child(8) .section-content .title-wrap { width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; margin-bottom: 40px; }

main.home-content-wrap section.home-section:nth-child(5) .section-content .title-wrap .section-title-en, main.home-content-wrap section.home-section:nth-child(6) .section-content .title-wrap .section-title-en, main.home-content-wrap section.home-section:nth-child(7) .section-content .title-wrap .section-title-en, main.home-content-wrap section.home-section:nth-child(8) .section-content .title-wrap .section-title-en { color: #FFCC00; font-size: 40px; letter-spacing: 0.2em; }

main.home-content-wrap section.home-section:nth-child(5) .section-content .title-wrap .section-title-kr, main.home-content-wrap section.home-section:nth-child(6) .section-content .title-wrap .section-title-kr, main.home-content-wrap section.home-section:nth-child(7) .section-content .title-wrap .section-title-kr, main.home-content-wrap section.home-section:nth-child(8) .section-content .title-wrap .section-title-kr { font-size: 20px; color: white; }

main.home-content-wrap section.home-section:nth-child(5) .section-content .business-wrap, main.home-content-wrap section.home-section:nth-child(6) .section-content .business-wrap, main.home-content-wrap section.home-section:nth-child(7) .section-content .business-wrap, main.home-content-wrap section.home-section:nth-child(8) .section-content .business-wrap { display: flex; justify-content: space-between; color: white; }

main.home-content-wrap section.home-section:nth-child(5) .section-content .business-wrap business-article article, main.home-content-wrap section.home-section:nth-child(6) .section-content .business-wrap business-article article, main.home-content-wrap section.home-section:nth-child(7) .section-content .business-wrap business-article article, main.home-content-wrap section.home-section:nth-child(8) .section-content .business-wrap business-article article { box-sizing: border-box; padding: 0 10px; width: 260px; display: flex; flex-direction: column; justify-content: space-between; align-items: center; }

main.home-content-wrap section.home-section:nth-child(5) .section-content .business-wrap business-article article img, main.home-content-wrap section.home-section:nth-child(6) .section-content .business-wrap business-article article img, main.home-content-wrap section.home-section:nth-child(7) .section-content .business-wrap business-article article img, main.home-content-wrap section.home-section:nth-child(8) .section-content .business-wrap business-article article img { width: 120px; }

main.home-content-wrap section.home-section:nth-child(5) .section-content .business-wrap business-article article h1, main.home-content-wrap section.home-section:nth-child(6) .section-content .business-wrap business-article article h1, main.home-content-wrap section.home-section:nth-child(7) .section-content .business-wrap business-article article h1, main.home-content-wrap section.home-section:nth-child(8) .section-content .business-wrap business-article article h1 { font-size: 18px; }

main.home-content-wrap section.home-section:nth-child(5) .section-content .business-wrap business-article article h2, main.home-content-wrap section.home-section:nth-child(6) .section-content .business-wrap business-article article h2, main.home-content-wrap section.home-section:nth-child(7) .section-content .business-wrap business-article article h2, main.home-content-wrap section.home-section:nth-child(8) .section-content .business-wrap business-article article h2 { font-size: 14px; }

main.home-content-wrap section.home-section:nth-child(5) .section-content .business-wrap business-article article p, main.home-content-wrap section.home-section:nth-child(6) .section-content .business-wrap business-article article p, main.home-content-wrap section.home-section:nth-child(7) .section-content .business-wrap business-article article p, main.home-content-wrap section.home-section:nth-child(8) .section-content .business-wrap business-article article p { font-size: 16px; }

main.home-content-wrap section.home-section:nth-child(5) { background: url("../img/business_back.jpg"); }

main.home-content-wrap section.home-section:nth-child(6) { background: url("../img/business_back2.jpg"); }

main.home-content-wrap section.home-section:nth-child(7) { background: url("../img/business_back3.jpg"); }

main.home-content-wrap section.home-section:nth-child(8) { background: url("../img/business_back4.jpg"); }

/*# sourceMappingURL=home.css.map */