@import "../../static/scss/globalstyles";

main.home-content-wrap{
    margin-top: 120px;

    .home-section{
        width: 100%;
        box-sizing: border-box;
        .section-content{
            margin: auto;
        }
    }
    //slider
    section.home-section:first-child{
        .section-content{
            width:100%;
            height: 600px;
            .slider{
                position: relative;
                width:100%;
                height: 100%;
                .slider-item{
                    width:100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: black;
                    position: absolute;
                    top: 0;
                    z-index: 0;
                    opacity: 0;
                    transition:opacity .8s ease-in-out;
                    // transform: translate(100px);
                    img{
                        width: 100%;
                    }
                }
                .slider-item:first-child{
                    background-image: url('../img/home_swiper_img1.jpg');
                }
                .slider-item:nth-child(2){
                    background-image: url('../img/home_swiper_img2.jpg');
                }
                .showing{
                    z-index: 1;
                    opacity: 1;
                    transform: none;
                }
            }
            .slider-arrow{
            width: 100vw;
            position: absolute;
            top: 50%;
            z-index: 99;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
                img{
                    width: 50px;
                    height: 50px;
                }
            }
            .swiper-text{
                position: absolute;
                top:50%;
                left:50%;
                transform: translate(-50%, -50%);
                z-index:99;
                .swiper-text-contents{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    h1{
                        color: $yellow;
                    }
                    h2{
                        span{
                            background-color: $yellow;
                        }
                    }
                    p{
                        color: white;
                    }
                }

            }
        
        }
    }
    //GLS SERVICES
    section.home-section:nth-child(2){
        background-color: $blue;
        .section-content{
            width:1212px;
            height: 400px;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            img{
                box-sizing: border-box;
            }
            h1{
                color: $yellow;
                font-weight: bolder;
                letter-spacing: 0.2em;
                padding-bottom: 40px;
            }
            p{
                color: white;
                line-height:1.5em;
            }
        }
    }
    section.home-section:nth-child(3){
        background-color: $black;
        .home-img-grid{
            display: grid;
            grid-template-columns:repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 0;

            .home-img-grid-item{
                position: relative;
                img{
                    width: 100%;
                    object-fit: fill;
                }
                span{
                    position: absolute;
                    top:50%;
                    left:50%;
                    z-index:8;
                    color: white;
                    font-weight: border;
                    font-size: 18px;
                }
            }  
            .home-img-grid-item:last-child{
                display:flex;
                justify-content: center;
                align-items: center;
                
                img{
                    width: 160px;
                }
            }
        }
    }
    //PROCESS 
    section.home-section:nth-child(4){
        background-color: $gray2;
        .section-content{
            width: 1212px;
            height: 700px;
            margin: auto;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .section-title-en{
                font-size: 40px;
                letter-spacing: 0.2em;
                padding-bottom: 20px;
            }
            .section-desc{
                p{
                    line-height: 0.8em;
                    text-align:center;
                }
            }
            .process-wrap{
                display:flex;
                article{
                    width: 220px;
                    height: 300px;
                    padding: 0 10px;
                    display:flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    img{
                        width: 80px;
                        height: 40%;
                        padding: 10px;
                    }
                    h1{
                        position: absolute;
                        font-size: 20px;
                        top: 100px;
                        font-weight: border;
                    }
                    p{
                        color: $font-gray;
                        word-break: break-word;
                        text-align: center;
                    }
                }
            }
        }
    }
    //SEA 해상운송
    section.home-section:nth-child(5),
    section.home-section:nth-child(6),
    section.home-section:nth-child(7),
    section.home-section:nth-child(8){
        .section-content{
            width:800px;
            height:800px;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .title-wrap{
                width:100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-bottom: 40px;
                
                .section-title-en{
                    color: $yellow;
                    font-size: 40px;
                    letter-spacing: 0.2em;
                }
                .section-title-kr{
                    font-size: 20px;
                    color: white;
                }
            }
            .business-wrap{
                display: flex;
                justify-content: space-between;
                color: white;
                business-article{
                    article{
                        box-sizing: border-box;
                        padding: 0 10px;
                        width: 260px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        img{
                            width: 120px;
                        }
                        h1{
                            font-size: 18px;
                        }
                        h2{
                            font-size: 14px;
                        }
                        p{
                            font-size: 16px;
                        }   
                    }
                }
            }
        }
    }
    section.home-section:nth-child(5){
        background: url('../img/business_back.jpg');
    }
    section.home-section:nth-child(6){
        background: url('../img/business_back2.jpg');
    }
    section.home-section:nth-child(7){
        background: url('../img/business_back3.jpg');
    }
    section.home-section:nth-child(8){
        background: url('../img/business_back4.jpg');
    }
}