{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block content %}
<link rel="stylesheet" href="{% sass_src 'scss/home.scss' %}" />
<script defer src="{% static 'js/_home.js' %}"></script>
<script defer src="{% static 'js/components/service.js' %}"></script>

<main class="home-content-wrap">
    <section class="home-section">
        <div class="section-content">
            <div class="slider">
                <div class="slider-item showing">
                   
                </div>
                <div class="slider-item">
                  
                </div>
            </div>
            <div class="swiper-arrow">
                <div>
                    <img class="swiper-prev" src="{% static 'img/caret-left.svg' %}" alt="swiper-prev-arrow">
                </div>
                <div>
                    <img class="swiper-next" src="{% static 'img/caret-right.svg' %}" alt="swiper-next-arrow">
                </div>
            </div>
            <div class="swiper-text">
                <div class="swiper-text-contents">
                    <!-- <div> -->
                        <img src="{% static 'img/GLS-logo-white1.png' %}" alt="">
                    <!-- </div> -->
                    <h1>글로벌 도약을 위한</h1>
                    <h2><span>TOTAL LOGISTICS SEVICE</span></h2>
                    <p>전세계 유통망과 시스템을 갖춘 GLS와 함께하세요!</p>
                </div>
            </div>
        </div>
    </section>
    <section class="home-section" >
        <div class="section-content">
            <div>
                <img src="{% static 'img/GLS-logo-white1.png' %}" alt="">
            </div>
            <h1 class="fadedown">SERVICES</h1>
            <div class="fadein">
                <p>국내 외 선사, 항공사들과 긴밀한 협력제휴를 통한 전세계 수출입 운송 및 Consolidation General Forwarding을 비롯한</p>
                <p>수출입통관,내륙운송,보험부보 대행, 포장, 보관, 3PL, 물류컨설팅</p>
            </div>
        </div>
    </section>
    <section class="home-section" >
        <div class="home-img-grid">
            <div class="home-img-grid-item">
                <img src="{% static 'img/home_img1.jpg' %}" alt="">
                <div><span class="fadedown">글로벌 네트워크</span></div>
            </div>
            <div class="home-img-grid-item">
                <img src="{% static 'img/home_img2.jpg' %}" alt="">
                <span class="fadedown">해상 수출입</span>
            </div>
            <div class="home-img-grid-item">
                <img src="{% static 'img/home_img3.jpg' %}" alt="">
                <span class="fadedown">육상 수출입</span>
            </div>
            <div class="home-img-grid-item">
                <img src="{% static 'img/home_img4.jpg' %}" alt="">
                <span class="fadedown">항공 수출입</span>
            </div>
            <div class="home-img-grid-item">
                <img src="{% static 'img/home_img5.jpg' %}" alt="">
                <span class="fadedown">전세계 최대 전산망 보유</span>
            </div>
            <div class="home-img-grid-item">
                <img src="{% static 'img/GLS-logo-white1.png' %}" alt="">
            </div>
        </div>
    </section>
    <section class="home-section" id="process-section">
        <div class="section-content">
            <div>
                <img src="{% static 'img/GLS-logo.png' %}" alt="GLS logo">
                <div class="section-title-en">PROCESS</div>
            </div>
            <div class="section-desc fadein">
                <p>GLS 만의  ONE LINE SYSTEM을 경험 해 보세요.</p>
                <p>전 세계 네트워크를  실시간으로 컨트롤 하는 GLS Family의 특별한 서비스는 보다 더 간편하고 더 편리합니다!</p>
            </div>
            <div class="process-wrap">
                <article>
                    <img src="{% static 'img/home_bg_01.png' %}" alt="">
                    <h1>GLS본사</h1>
                    <p class="fadein">화물 준비 확인과 Booking 작업을 꼼꼼하게 컨펌합니다.</p>
                </article>
                <article>
                    <img src="{% static 'img/home_bg_02.png' %}" alt="">
                    <h1>창고사업부</h1>
                    <p class="fadein">화물인도작업을 진행함과 동시에 Stuffing & 선적이 이루어 질 수 있도록 합니다.</p>
                </article>
                <article>
                    <img src="{% static 'img/home_bg_03.png' %}" alt="">
                    <h1>통관사업부</h1>
                    <p class="fadein">품목 분류와 수출입요건 확인을 통해 통관에 차질이 생기지 않도록 점검합니다.</p>
                </article>
                <article>
                    <img src="{% static 'img/home_bg_04.png' %}" alt="">
                    <h1>운송사업부</h1>
                    <p class="fadein">보다 신속한 배차를 통해 화물 운송이 빠르게 이루어 질 수 있도록 합니다.</p>
                </article>
            </div>
        </div>
    </section>
    <section class="home-section" >
        <div class="section-content">
            <div class="title-wrap">
                <img src="{% static 'img/GLS-logo-white1.png' %}" alt="GLS logo">
                <div><span class="section-title-en">SEA</span></div>
                <div><span class="section-title-kr" >해상 운송</span></div>
            </div>
            <div class="business-wrap">
                <business-article 
                    src="{% static 'img/business1.png' %}" 
                    data-title="FCL" 
                    data-subTitle="(FULL CONTAINER LOAD)"
                    data-desc="다양한 선사와의 강력한 파트너십을 통해 유연하고 신속한 해상 FCL 서비스 제공">
                </business-article>
                <business-article 
                    src="{% static 'img/business2.png' %}" 
                    data-title="LCL" 
                    data-subTitle="(LESS THAN CONTAINER LOAD)"
                    data-desc="해외 파트너십이 아닌 GLS Family 내 지사간 CONSOLIDATION 을 통해 Origin / Destination 에서의 유연한 대응으로 타 콘솔사와 차별화 된 서비스 제공">
                </business-article>
                <business-article 
                    src="{% static 'img/business3.png' %}" 
                    data-title="DOOR TO DOOR 서비스" 
                    data-desc="해외 지사를 통해 선적지부터 최종 목적지까지 포장, 운송, 통관 서류작성 등 종합 물류 대행 서비스 제공">
                </business-article>
                <business-article 
                    src="{% static 'img/business4.png' %}" 
                    data-title="실시간 TRACKING" 
                    data-desc="화물 위치를 실시간으로 간편하게 TRACKING 할 수 있는 선진 물류 서비스 제공">
                </business-article>
            </div>
        </div>
    </section>
    <section class="home-section">
        <div class="section-content">
            <div class="title-wrap">
                <img src="{% static 'img/GLS-logo-white1.png' %}" alt="GLS logo">
                <div><span class="section-title-en">AIR</span></div>
                <div><span class="section-title-kr">항공 운송</span></div>
            </div>
            <div class="business-wrap">
                <business-article 
                src="{% static 'img/business_air.png' %}" 
                data-title="적시운송 서비스" 
                data-desc="다양한 선사와의 강력한 파트너십을 통해 유연하고 신속한 해상 FCL 서비스 제공">
                </business-article>
                <business-article 
                    src="{% static 'img/business_air.png' %}" 
                    data-title="DOOR TO DOOR 서비스" 
                    data-desc="해외 지사를 통해 선적지부터 최종 목적지까지 포장,운송, 통관및 모든 종합물류 제반업무 서비스 제공">
                </business-article>
                <business-article 
                src="{% static 'img/business_air.png' %}" 
                data-title="시간 화물 TRACKIN" 
                data-desc="화물 위치를 실시간으로 간편하게 TRACKING 할 수 있는 선진 물류 서비스 제공">
            </business-article>
        </div>
    </section>
    <section class="home-section">
        <div class="section-content">
            <div class="title-wrap">
                <img src="{% static 'img/GLS-logo-white1.png' %}" alt="GLS logo">
                <div><span class="section-title-en">PROJECT CARGO</span></div>
                <div><span class="section-title-kr">벌크 카고</span></div>
            </div>
            <div class="business-wrap">
                <business-article 
                    src="{% static 'img/business_air.png' %}" 
                    data-title="믿을 수 있는 안전 운송" 
                    data-desc="화물의 타입에 따라 최적의 선복 및 화물의 타입에 맞는 최적의 선박 확보를 통한 적기와 안전운송">
                </business-article>
                <business-article 
                    src="{% static 'img/business1.png' %}" 
                    data-title="체계적인 원라인 시스템" 
                    data-desc="사전 Survey, Route 발굴, 장애물 조사, 운송 Simulation, 특수차량 수배 등 현지 내륙운송">
                </business-article>
                <business-article 
                    src="{% static 'img/business1.png' %}" 
                    data-title="GLS만의 운송 노하우" 
                    data-desc="공사에 투입되는 각종 기계, 설비, 자재 등에 대한 운송 노하우 확보">
                </business-article>
                <business-article 
                    src="{% static 'img/business1.png' %}" 
                    data-title="국내 및 로컬 최상의 서비스" 
                    data-desc="프로젝트 화물 전문 인재, 국내와 현지 근무로 완벽한 선적, 하역">
                </business-article>
            </div>
        </div>
    </section>
    <section class="home-section">
        <div class="section-content">
            <div class="title-wrap">
                <img src="{% static 'img/GLS-logo-white1.png' %}" alt="GLS logo">
                <div><span class="section-title-en">CONSOL</span></div>
                <div><span class="section-title-kr">콘솔 업무</span></div>
            </div>
            <div class="business-wrap">
                <business-article 
                    src="{% static 'img/business_air.png' %}" 
                    data-title="GLS 그룹의 프리미엄 서비스" 
                    data-desc="해외 파트너십이 아닌 GLS Family 내 지사간 CONSOLIDATION 을 통해 Origin / Destination 에서의 유연한 대응으로 타 콘솔사와 차별화 된 서비스 제공">
                </business-article>
            </div>
        </div>
    </section>
    <section class="home-section">
        <div class="section-content">
    
        </div>
    </section>
</main>
{% endblock content %}