{% load static %}
{% load sass_tags %}


<div class="tab-title">
    <div class="title">
        <h1>항공운송</h1>
        <h1>AIR</h1>
    </div>
    <div class="desc">
        <p>
            오늘날 운송과 물류 산업의 획기적인 변화가 거듭되고 있음에 따라,
        </p>
        <p>
            GLS는 변화에 민감하고 빠르게 대응하여 고객사들에게 정확하고 빠른 최고의 서비스를 제공하는데 최선을 다 하고 있습니다.
        </p>
    </div>
</div>
    <div class="service-wrap">
    <business-article 
        src="{% static 'img/business_air.png' %}" 
        data-title="믿을 수 있는 안전 운송" 
        data-desc="화물의 타입에 따라 최적의 선복 및 화물의 타입에 맞는 최적의 선박 확보를 통한 적기와 안전운송">
    </business-article>
    <business-article 
        src="{% static 'img/business1.png' %}" 
        data-title="체계적인 원라인 시스템" 
        data-desc="사전 Survey, Route 발굴, 장애물 조사, 운송 Simulation, 특수차량 수배 등 현지 내륙운송">
    </business-article>
    <business-article 
        src="{% static 'img/business1.png' %}" 
        data-title="GLS만의 운송 노하우" 
        data-desc="공사에 투입되는 각종 기계, 설비, 자재 등에 대한 운송 노하우 확보">
    </business-article>
    <business-article 
        src="{% static 'img/business1.png' %}" 
        data-title="국내 및 로컬 최상의 서비스" 
        data-desc="프로젝트 화물 전문 인재, 국내와 현지 근무로 완벽한 선적, 하역">
    </business-article>
</div>
