{% load static %}
{% load sass_tags %}


<div class="tab-title">
    <div class="title">
        <h1>콘솔업무</h1>
        <h1>CONSOL</h1>
    </div>
    <div class="desc">
        <p>
            오늘날 운송과 물류 산업의 획기적인 변화가 거듭되고 있음에 따라,
        </p>
        <p>
            GLS는 변화에 민감하고 빠르게 대응하여 고객사들에게 정확하고 빠른 최고의 서비스를 제공하는데 최선을 다 하고 있습니다.
        </p>
    </div>
</div>
    <div class="service-wrap">
    <business-article 
        src="{% static 'img/business_air.png' %}" 
        data-title="GLS 그룹의 프리미엄 서비스" 
        data-desc="해외 파트너십이 아닌 GLS Family 내 지사간 CONSOLIDATION 을 통해 Origin / Destination 에서의 유연한 대응으로 타 콘솔사와 차별화 된 서비스 제공">
    </business-article>
</div>
