{% load static %}

<style>
    .introduction-wrap{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

</style>

<div class="introduction-wrap">
    <h2>Introduction</h2>
    <h1>LCL 시장 정상화</h1>
    <h2>상식이 통하는 물류</h2>

    <div>
        <p>현재 아시아 물류시장은 불합리한 리베이트가 성행하고 있습니다.</p>
        <p>특히, 창고료가 과다하게 청구되고 잦은 요율 상승과 항목 추가 등은 화주들 뿐만 아니라 한국 물류업계 전체에 악영향을 주고있습니다.</p>
    </div>
    <div>
        <p>콘솔버스는 이러한 불합리한 관행을 깨고 ‘LCL 시장 정상화-상식이 통하는 물류’라는 슬로건으로 물류시장 정상화를 선도합니다.</p>
        <p>LCL 시장에 만연한 ‘창고-포워더-파트너’간의 창고료 리베이트 관행을 깨고 합리적인 시장을 만듭니다.</p>
    </div>
    <img src="{% static 'img/rebate-160x88.png' %}" alt="">
    <img src="{% static 'img/baloons-copy-756x196.png' %}" alt="">

    <h1>콘솔버스 노선</h1>
    <h2>상해,홍콩,심천</h2>
    <img src="{% static 'img/Artboard-1-copy-800x500.png' %}" alt="">
    <img src="{% static 'img/Artboard-2-240x300.png' %}" alt="">

    <h1>4단계 올인원 시스템</h1>
    <h2>4-STEPS benefits</h2>
    <img src="{% static 'img/steps.png' %}" alt="">

    <h1>기존방식과의 차별화</h1>
    <h2>콘솔버스만의 주요 특징</h2>
    <img src="{% static 'img/Artboard-3-copy.png' %}" alt="">
</div>