{% load static %}

<script defer src="{% static 'js/header.js' %}"></script>

<header id="gnv">
    <section class="topbar">
        <div class="topbar-content-wrap">
            <div class="flag-wrap">
                <img src="{% static 'img/flag/vietnam.png' %}" alt="">
                <img src="{% static 'img/flag/japan.png' %}" alt="">
                <img src="{% static 'img/flag/hongkong.png' %}" alt="">
                <img src="{% static 'img/flag/china.png' %}" alt="">
                <img src="{% static 'img/flag/usa.png' %}" alt="">
            </div>
        </div>
    </section>
    <section class="navbar">
        <div class="navbar-content-wrap">
            <nav>
                <div class="logo">
                    <a href="{% url 'home' %}">
                        <img src="{% static 'img/logo/GLS-logo-2.png' %}" alt="">
                </a>
            </div>
            <div class="menu-wrap">
                <ul>
                    <li class="navbar-menu-item">
                        <a href="{% url 'corpinfo' %}" >회사소개</a>
                        <ul class="navbar-submenu-item">
                            <li><a href="{% url 'corpinfo' %}" >개요</a></li>
                            <li><a href="" >GLS Family</a></li>
                        </ul>
                    </li>
                    <li class="navbar-menu-item">
                        <a href="{% url 'service' %}" >서비스</a>   
                    </li>
                    <li class="navbar-menu-item">
                        <a href="" >E-TRACKING</a>
                    </li>
                    <li class="navbar-menu-item">
                        <a href="{% url 'qna' %}" >문의하기</a>
                    </li>
                    <li class="navbar-menu-item">
                        <a href="{% url 'consolbus' %}" >CONSOL BUS</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    </section>
</header>

<!-- <header id="gnv-mobile">
    모바일버전_nav
    <div id="logo-feg">
        <img src="{% static 'img/logo_feg.png' %}" alt="loge-feg">
    </div>
    <nav>
        <ul class="menu-wrap">
            <li><a class="nav-menu" href="{% url 'signin' %}">메뉴1</a></li>
            <li><a class="nav-menu" href="{% url 'signin' %}">메뉴2</a></li>
            <li><a class="nav-menu" href="{% url 'signin' %}">메뉴3</a></li>
        </ul>
    </nav>
    <div id="account-group">
        <div><a class="nav-menu" href="{% url 'signin' %}">signin</a></div>
        <div><a class="nav-menu" href="{% url 'signup' %}">signup</a></div>
    </div>
</header> -->