{% load static %}

<header id="gnv">
    <section class="topbar">
        <div class="topbar-content-wrap">
            <div class="flag-wrap">
                <img src="{% static 'img/usa.png' %}" alt="">
                <img src="{% static 'img/usa.png' %}" alt="">
                <img src="{% static 'img/usa.png' %}" alt="">
                <img src="{% static 'img/usa.png' %}" alt="">
                <img src="{% static 'img/usa.png' %}" alt="">
            </div>
        </div>
    </section>
    <section class="navbar">
        <div class="navbar-content-wrap">
            <nav>
                <div class="logo">
                    <a href="{% url 'home' %}">
                        <img src="{% static 'img/GLS-logo-2.png' %}" alt="">
                </a>
            </div>
            <div class="manu-wrap">
                <div><a>회사소개</a></div>
                <div><a>서비스</a></div>
                <div><a>E-TRACKING</a></div>
                <div><a>문의하기</a></div>
                <div><a>CONSOL BUS</a></div>
            </div>
        </nav>
    </div>
    </section>
</header>
<!-- <header id="gnv-mobile">
    모바일버전_nav
    <div id="logo-feg">
        <img src="{% static 'img/logo_feg.png' %}" alt="loge-feg">
    </div>
    <nav>
        <ul class="menu-wrap">
            <li><a class="nav-menu" href="{% url 'signin' %}">메뉴1</a></li>
            <li><a class="nav-menu" href="{% url 'signin' %}">메뉴2</a></li>
            <li><a class="nav-menu" href="{% url 'signin' %}">메뉴3</a></li>
        </ul>
    </nav>
    <div id="account-group">
        <div><a class="nav-menu" href="{% url 'signin' %}">signin</a></div>
        <div><a class="nav-menu" href="{% url 'signup' %}">signup</a></div>
    </div>
</header> -->