$main-color : rgb(92,194,208);
$highlit-color : rgb(0,82,147);
$gray : rgb(240,243,242);
$gray2 : rgb(247,247,247);
$yellow : #FFCC00;
$black : rgb(24,24,40);
$blue : rgb(39,72,139);
$font-gray: rgb(95,114,127);