$main-color : rgb(92,194,208);
$highlit-color : rgb(0,82,147);

body{
    font-family: 'Gothic A1', sans-serif;
    box-sizing: border-box;

    a{
        text-decoration: none;
        color: $main-color;
        &:hover{
            color: $highlit-color;
        }
        &:active{
            color: $highlit-color;
        }
    }
}

#gnv{
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    padding: 0 30px;
    border-bottom: 1px solid $main-color;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #logo-feg{
        width: 160px;
        img{
            width: 100%;
            object-fit: cover;
        }
    }
    .menu-wrap{
        display: flex;
        justify-content: space-between;
        width: 200px;
    }
    #account-group{
        width: 100px;
        display: flex;
        justify-content: space-between;
    }
}

#gnv-mobile{
    display: none;
}
